@font-face {
    font-family: Neue Haas Unica Pro Regular Normal;
    font-weight: 400;
    src:url("../fonts/Neue Haas Unica Pro.ttf") format("truetype")
}

html, body {
    width: 100%;
    margin: 0px;
}

a, body, h1, h2, h3, h4, h5, h6, p {
    font-family: Neue Haas Unica Pro Regular Normal;
    font-weight: 400%;
    line-height: 150%;
    margin: 0;
    text-decoration: none;
}
h5 {
    font-size: 1rem;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

[class*=grid] {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    margin: 0 .9375rem;
    width: auto;
}

.content .content__container {
    padding: 10px 10px;
    position: relative;
}

ul.error-list {
    list-style: none;
    color: red;
    font-weight: bold;
}

.notificationPane {
    display: none;
}

.button-primary {
    background: #017cbf;
    border-radius: 100px;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 0;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.125rem;
    width: 150px;
}

.dtable {
    border-color: #909294;
    border-style: solid;
    border-width: 2px 0 2px 0; 
}
.dtable__table--nowrap {
    white-space: nowrap; 
}

.dtable__caption--bottom {
    caption-side: bottom; 
}

.dtable__row {
    background-color: white; 
}

.dtable__row:nth-child(even) {
    background-color: #f2f8fa; 
}

.dtable__head, .dtable__head--select, .dtable__cell, .dtable__cell--select {
    border-color: #dadbdb;
    border-style: solid;
    border-width: 1px 0 0;
    padding: 8px 16px;
    text-align: left;
    vertical-align: text-top; 
}

.dtable__head--right, .dtable__cell--right {
    text-align: right; 
}

.dtable__head, .dtable__head--select, .dtable__head--select {
    font-family: "Freight Sans Semi Bold Normal", sans-serif;
    letter-spacing: 0.01111rem;
    background-color: white;
    border-color: #909294;
    border-width: 1px 0 1px;
    color: #46494d;
    font-size: 1rem;
    text-transform: uppercase;
    vertical-align: bottom; 
}

.dtable__head .head__link, .dtable__head--select .head__link, .dtable__head .head__link--sort-asc, .dtable__head--select .head__link--sort-asc, .dtable__head .head__link--sort-des, .dtable__head--select .head__link--sort-des, .dtable__head--select .head__link, .dtable__head--select .head__link--sort-asc, .dtable__head--select .head__link--sort-des {
    font-family: "Freight Sans Semi Bold Normal", sans-serif;
    letter-spacing: 0.01111rem;
    background-color: white;
    border-color: #909294;
    border-width: 1px 0 1px;
    color: #46494d;
    font-size: 1rem;
    text-transform: uppercase;
    vertical-align: bottom;
    display: inline-block;
    margin: 0 0.7rem 0 0; 
}

.dtable__head .head__link:after, .dtable__head--select .head__link:after, .dtable__head .head__link--sort-asc:after, .dtable__head--select .head__link--sort-asc:after, .dtable__head .head__link--sort-des:after, .dtable__head--select .head__link--sort-des:after, .dtable__head--select .head__link:after, .dtable__head--select .head__link--sort-asc:after, .dtable__head--select .head__link--sort-des:after {
    font-family: sans-serif;
    letter-spacing: 0.01111rem;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
    content: '\e90f';
    position: absolute;
    -webkit-transition: -webkit-clip-path 150ms ease-in;
    transition: -webkit-clip-path 150ms ease-in;
    transition: clip-path 150ms ease-in;
    transition: clip-path 150ms ease-in, -webkit-clip-path 150ms ease-in; 
}

.dtable__head .head__link--sort-asc:after, .dtable__head--select .head__link--sort-asc:after, .dtable__head--select .head__link--sort-asc:after {
    -webkit-clip-path: inset(0 0 50% 0);
    clip-path: inset(0 0 50% 0); 
}
.dtable__head .head__link--sort-des:after, .dtable__head--select .head__link--sort-des:after, .dtable__head--select .head__link--sort-des:after {
    -webkit-clip-path: inset(50% 0 0 0);
    clip-path: inset(50% 0 0 0); 
}

.dtable__head--select [type='checkbox'], .dtable__cell--select [type='checkbox'] {
    display: none; 
}    

.dtable__head--select .select__label:before, .dtable__head--select .select__label:after, .dtable__cell--select .select__label:before, .dtable__cell--select .select__label:after {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); 
}

.dtable__head--select .select__label:after, .dtable__cell--select .select__label:after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
    transform: translateX(-50%) translateY(-50%) rotateZ(-45deg); 
}

.required::after {
    color: #cc0d30;
    content: "*";
}

input[required]:focus {
    border: 1px solid #cc0d30;
}

p[name="required"] {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.error-list {
    border: 1px solid #e31b23;
    color:#e31b23;
    background: #FAD2DA;
    border-radius: 10px;
    padding: 7px;
    margin: 5px 0;
    display: block;
}